@model PayrollApp.Models.EmployeeList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee: @Model.EmployeeCode - @Model.EmployeeName</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Employee Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            Joining Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            Job
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitleList.JobName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
