@model IEnumerable<PayrollApp.Models.EmployeeList>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            Employee Code
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Job
        </th>
        <th>
            Joining Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JobTitleList.JobName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JoiningDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeCode }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmployeeCode }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeCode })
    </td>
</tr>
}

</table>
